<div class="author-box">
  <div class="author-box-photo">
    <img src="/assets/images/profile.jpg"/>
  </div>
  <div class="author-box-info">
    <div class="author-box-info-name">Karl Paragua</div>
    <div class="author-box-info-bio">
      At some point, you’ll want to include images, downloads, or other digital assets along with your text content. One common solution is to create a folder in the root of the project directory called something like assets.
    </div>
  </div>
  <ul class="author-box-social">
    <li>
      <a href="https://www.facebook.com/karlparagua.blog" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
  </ul>
</div>

<style>
  .author-box {
    margin: 30px 0;
    padding: 20px 0;
  }

  .author-box-photo {
    text-align: center;
    width: 100%;
  }

  .author-box-photo img {
    width: 80px;
    border-radius: 20px;
  }

  .author-box-info {
    width: 100%;
    padding: 12px 0;
    text-align: center;
  }

  .author-box-info-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1.5;
  }

  .author-box-info-bio {
    font-size: 14px;
    color: #757575;
    line-height: 1.5;
  }

  .author-box-social {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 24px;
  }

  .author-box-social li {
    padding: 0 10px;
  }

  .author-box-social li a {
    color: #757575 !important;
  }
</style>
