<div id="header">
  <div id="header-content">
    <div id="brand">
      <a href="/">
        <img src="/assets/images/logo-dark-bg.png" />
      </a>
    </div>

    <div class="right-nav">
      <ul class="nav-items">
        <li class="item">
          <a href="#" title="Subscribe" class="subscribe-box-trigger">
            <i class="fas fa-bell"></i>
          </a>
        </li>

        <li class="item">
          <a href="/about" title="About Me" class="about-link">
            <i class="fas fa-user"></i>
          </a>
        </li>

        <li class="item">
          <a href="#" title="Menu" class="menu-toggle">
            <i class="fas fa-bars"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% include subscribe_box.html %}

<style>
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #2f3640;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(189,195,199,1);
    -moz-box-shadow: 0px 1px 4px 0px rgba(189,195,199,1);
    box-shadow: 0px 1px 4px 0px rgba(189,195,199,1);
    overflow: hidden;
    z-index: 999;
  }

  #header-content {
    width:  900px;
    max-width: 100%;
    height: 100%;
    margin: auto;
  }

  #brand {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 14px;
    font-family: 'Cabin Condensed Bold';
    font-size: 22px;
    text-transform: uppercase;
  }

  #brand img {
    height: 26px;
    margin-top: 7px;
  }

  #brand a, #brand a:hover, #brand a:visited, #brand a:active {
    text-decoration: none;
    color: white;
    opacity: 0.8;
  }

  .right-nav {
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-items {
    list-style: none;
    display: flex;
  }

  .nav-items .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    padding: 0px 14px;
  }

  .nav-items .item a:hover {
    opacity: 1;
    text-decoration: none;
  }

  #title a, #title a:visited, #title a:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #292929;
  }
</style>

