---
---

$bg-primary: #002b36;
$bg-secondary: #073642;
$text-color: #839496;
$text-highlight: #586e75;
$link-color: #268bd2;
$visited-color: #2aa198;

// Highlight Colors
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;
$white: #eee8d5;


// Backgrounds

.bg-primary { background: $bg-primary; }
.bg-secondary { background: $bg-secondary; }

* {
  box-sizing: border-box;
}

body {
  background: $bg-primary;
  color: $text-color;
  font-family: 'Montseratt', sans-serif;
  font-size: 14px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $link-color;
    text-decoration: none;
  }
}

h1 {
  font-family: 'Open Sans', sans-serif;

  a, a:visited {
    color: $text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Buttons

.main-column {
  width: 1000px;
  min-width: 320px;
  max-width: 100%;
  margin: auto;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 35px;
  display: table;

  #left-item {
    display: table-cell;
    vertical-align: middle;
  }

  #right-item {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }

  .menu-toggle {
    font-size: 24px;
  }

  #title {
    a, a:visited, a:hover {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      color: $blue;
    }
  }

  #subtitle {
    font-size: 11px;
    font-style: italic;
  }
}

#content {
  margin-top: 130px;
  margin-bottom: 70px;
  padding: 0px 15px;

  h1 {
    font-size: 42px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }
}

.secondary-text-color {
  color: #586e75;
}

.post-separator {
  height: 1px;
  width: 100%;
  background: $bg-secondary;
  margin: 55px 0px;
}
