---
---

$xbg-color: #0b0b0c;
$xsecondary-bg-color: #19191b;
$xtext-color: #dfe4ea;
$xlink-color: #00adb5;
$xvisited-color: #2d3561;

$bg-color: #073642;
$secondary-bg-color: #002b36;
$text-color: #839496;
$link-color: #268bd2;
$visited-color: #2aa198;


* {
  box-sizing: border-box;
}

body {
  background: $bg-color;
  color: $text-color;
  font-family: 'Montseratt', sans-serif;
  font-size: 14px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-color;
    text-decoration: none;
  }
}

.main-column {
  width: 850px;
  min-width: 320px;
  max-width: 100%;
  margin: auto;
}

#header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: $secondary-bg-color;
  padding: 25px 35px;

  #title {
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
  }

  #subtitle {
    font-size: 15px;
    color: #ced6e0;
  }
}

#content {
  h1 {
    font-size: 35px;
    font-weight: bold;
  }

  margin-top: 170px;
  padding: 20px 35px;
  background: $secondary-bg-color;
  border-radius: 6px;

  p {
    font-size: 16px;
    line-height: 1.5;
  }
}

.secondary-text-color {
  color: #586e75;
}
