---
---

$bg-primary: #ffffff;
$bg-secondary: #ecf0f1;
$bg-inverted: #2c3e50;
$text-primary: #292929;
$text-secondary: #757575;
$text-inverted: #ecf0f1;
$highlight: #2ecc71;

// Backgrounds

.bg-primary { background: $bg-primary; }
.bg-secondary { background: $bg-secondary; }

* {
  box-sizing: border-box;
}

body {
  background: $bg-primary;
  color: $text-primary;
  font-family: 'Montseratt', sans-serif;
  font-size: 14px;
}

a {
  color: $highlight;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $highlight;
    text-decoration: none;
  }
}

h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 34px;
  line-height: 1;

  a, a:visited  {
    color: $text-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Buttons

.main-column {
  width: 760px;
  min-width: 320px;
  max-width: 100%;
  margin: auto;
}


#content {
  margin-top: 150px;
  margin-bottom: 70px;
  padding: 0px 15px;

  p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: $text-secondary;
  }
}

.post-separator {
  height: 1px;
  width: 100%;
  background: $bg-secondary;
  margin: 55px 0px;
}

.post {
  img {
    max-width: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(189,195,199,1);
    -moz-box-shadow: 0px 1px 4px 0px rgba(189,195,199,1);
    box-shadow: 0px 1px 4px 0px rgba(189,195,199,1);
  }
}

.post-excerpt {
  color: $text-secondary;
}

.post-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .post-data {
    font-size: 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    background: $bg-secondary;
    color: $text-secondary;
    padding: 8px 10px;
    border-radius: 4px;
  }

  .post-data-label {
    margin-left: 3px;
  }
}

.social-buttons {
  margin: 30px 0;
}
