---
---

.post {
  margin-bottom: 25px;
  padding-bottom: 30px;
  border-bottom: dotted 0.5px #586e75;
}

.post-details {
  .post-data {
    font-size: 10px;
    font-weight: bold;
    margin-right: 8px;
    background: #073642;
    padding: 8px 10px;
    border-radius: 4px;
  }

  .post-data-label {
    margin-left: 3px;
  }
}

.post-content {
  margin-top: 45px;
}
