---
---

.post-data-container {
  .post-data {
    font-size: 10px;
    font-weight: bold;
    margin-right: 8px;
    background: #073642;
    padding: 8px 10px;
    border-radius: 4px;
  }

  .post-data-label {
    margin-left: 3px;
  }
}
