<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d920580c2e.js"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=911200055899024&autoLogAppEvents=1"></script>
    <div id="header">
      <div id="left-item">
        <div id="title">
          <a href="/">{{ site.title }}</a>
        </div>
        <div id="subtitle">{{ site.description }}</div>
      </div>
      <div id="right-item">
        <a href="#" class="menu-toggle">
          <i class="fas fa-bars"></i>
        </a>
      </div>
    </div>
    <div id="content" class="main-column">
      {% include newsletter.html %}
      {{ content }}
    </div>
  </body>
</html>
